.container
{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.userpic
{
    width: 140px;
    height: 140px;
}

.userCard
{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.displayName
{
    font-weight: 600;
}