.header
{
    text-align: center;
}

.tokenHeader
{
    padding: 10px;
    margin: 0px auto;
    min-height: 20px;
    min-width: 480px;
    max-width: 980px;    
}

.tokenBase
{
    font-weight: bold;
}

.tokenA
{
    text-align: left;
    float: left;    
}

.tokenB
{
    text-align: right;
    float: right;
}

.generalResult
{
    font-weight: bold;
    text-align: center;
}