.infoArea
{
    margin: 0px auto;
    min-width: 480px;
    max-width: 980px;    
}

.header
{
    text-align: center;
}

.tokenHeader
{
    padding: 10px;
    margin: 0px auto;
    min-height: 20px;
    display: flex;
}

.tokenBase
{
    font-weight: bold;
    flex-grow: 1;
}

.tokenA
{
    text-align: left;
}

.tokenB
{
    text-align: right;
}

.generalResult
{
    font-weight: bold;
    text-align: center;
}

.buttonContainer
{
    display: flex;
}

.buttonVote
{
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-image: linear-gradient(2deg, blue, cyan);
    color: #fff;
    font-weight: bold;
    border-top-color: #00c0ff;
    border-left-color: #00a0ff;
    border-bottom-color:#0090ff;
    border-right-color: #00ffff;
}

.buttonVote:active
{
    background-image: linear-gradient(2deg, cyan, blue);
    color: #fff;
    font-weight: bold;
    border-top-color: #00c0ff;
    border-left-color: #00f0ff;
    border-bottom-color:#0090ff;
    border-right-color: #00a0ff;
}

.buttonVote:focus
{
    box-shadow: 0 0 2pt 1pt cyan;
    outline: none;
}