.blueButton
{
    flex: 1;    
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-image: linear-gradient(2deg, blue, cyan);
    color: #fff;
    font-weight: bold;
    border-top-color: #00c0ff;
    border-left-color: #00a0ff;
    border-bottom-color:#0090ff;
    border-right-color: #00ffff;
}

.blueButton:active
{
    background-image: linear-gradient(2deg, cyan, blue);
    color: #fff;
    font-weight: bold;
    border-top-color: #00c0ff;
    border-left-color: #00f0ff;
    border-bottom-color:#0090ff;
    border-right-color: #00a0ff;
}

.blueButton:focus
{
    box-shadow: 0 0 2pt 1pt cyan;
    outline: none;
}